#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

p {
  font-size: 1rem;
}


  

img{
  max-width: 500px;
  
}

body { 
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
}
.card-body {
  position: relative;
  background-image: repeating-linear-gradient(#fdfd96, #ffcc33);
  color: black;
}

.close {
  position: absolute;
  right: 0.625rem;
  bottom: 0.5rem;
}
/* .background {
  background-image: url(../img/pokemonbg.png);
  background-position: center;
  height: 100vh;
  opacity: 50%;
} */

